.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
    font-size: 18px;
    transition: var(--theme-transition);
  }
  .black-theme .footer {
    background-color: #222222;
  }