.nav {
    --nav-height: 80px;
    height: var(--nav-height); 
    width: 100%;
    position: relative;
    --theme-background: #6bda83;
    --theme-links-background: rgba(230, 228, 228, 0.781);
    --theme-color: black;
    --theme-hover: rgba(0, 0, 0, 0.3);
    --column-gap: 20px;
    --row-gap: 10px;
    background-color: var(--theme-background);
    transition: var(--theme-transition);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: var(--column-gap);
    row-gap: var(--row-gap);
    padding: 10px;
}
.black-theme .nav {
    --theme-background: rgb(34, 34, 34);
    --theme-links-background: rgb(34, 34, 34);
    --theme-color: white;
    --theme-hover: rgba(255, 255, 255, 0.3);
}
.nav>.nav-header {
    display: flex;
    column-gap: var(--column-gap);
}
.nav>.nav-header .nav-title {
    font-size: 22px;
    color: var(--theme-color);
}
.nav>.nav-header>.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--row-gap);
}
.nav>.nav-header>.about>.description {
    font-style: italic;
    font-size: 16px;
}
.nav>.nav-header>img {
    align-self: center;
    width: 50px;
    height: auto;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    font-size: 18px;
}

.nav>.nav-links>a {
    position: relative;
    padding: 10px ;
    text-decoration: none;
    color: var(--theme-color);
}
.nav>.nav-links>a::after {
    position: absolute;
    content: '';
    top: 36px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
.nav>.nav-links>a.active::after {
    width: 100%;
    background: var(--theme-color);
}

.nav>.nav-links>a:hover {
    background-color: var(--theme-hover);
}

.nav>#nav-check {
    display: none;
}
.nav > button {
    font-size: 18px;
    padding: 10px;
    background-color: rgb(68, 68, 68);
    border: 1px solid var(--theme-color);
    border-radius: 15px;
    transition: background-color 0.2s linear;
}
.black-theme .nav > button {
    background-color: rgb(187, 186, 186);
}
.nav > button:hover {
    background-color: rgb(0, 0, 0);
}
.black-theme .nav > button:hover {
    background-color: white;
}
.nav > button::after {
    content: '🌙';
}
.black-theme .nav > button::after {
    content: '☀️';
}
@media (max-width:270px) {
    .nav>.nav-header>img {
        display: none;
    }
}
@media (max-width:375px) {
    .nav>.nav-header>.about>.description {
        display: none;
    }
}
@media (max-width:500px) {
    .nav {
        justify-content: start;
    }
    .nav>.nav-header .nav-title {
        font-size: 20px;
    }
    .nav>.nav-header>.about>.description {
        font-size: 14px;
    }
}

@media (max-width:950px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 10px;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: var(--theme-hover);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid var(--theme-color);
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: var(--theme-links-background);
        height: 0px;
        transition: height 0.3s ease-in;
        overflow-y: hidden;
        top: var(--nav-height);
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
        text-align: center;
    }

    .nav>.nav-links>a::after {
        height: 2px;
    }

    .nav>.nav-links>a.active::after {
        width: 150px;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - var(--nav-height));
        overflow-y: hidden;
        /* overflow-y: auto; */
    }
}