#order-popup-wrapper {
    position: fixed;
    visibility: hidden; 
    top: 80px;
    right: 0;
    height: calc(100% - 80px);
    width: 100%;
    z-index: 500;
    color: var(--theme-color);
    --big-fs: 23px;
    --big-fs-s: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#order-popup-wrapper .form {
    position: absolute;
    display: flex;
    gap: 30px;
    padding: 20px 20px 20px 20px;
    background-color: #d6e9fae7;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    width: 800px;
    height: max-content;
    overflow: auto;
    overscroll-behavior: none;
    transform: scale(0);
    transition: var(--theme-transition), transform 0.5s ease-out;
}
#order-popup-wrapper.visible .form {
    transform: scale(1);
}
#order-popup-wrapper .close {
    display: none;
    position: absolute;
    top: 10px;
    right: 20px;
    background: url(./images/cancel-icon.svg);
    width: 48px;
    height: 48px;
    z-index: -1;
}
.black-theme #order-popup-wrapper .form {
    background-color: rgba(0, 0, 0, 0.75);
}

/* #order-popup-wrapper .form .left-column{
    flex: 3;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
} */
#order-popup-wrapper .form .left-column {
    flex: 3;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#order-popup-wrapper .form .left-column .selected-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
#order-popup-wrapper .form .left-column > .images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
#order-popup-wrapper .form .left-column > .images > div {
    /* height: 100%; */
    position: relative;
    height: 50px;
    width: 50px;
    /* border: 1px solid greenyellow; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#order-popup-wrapper .form .left-column > .images > div::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0px;
    height: 3px;
    background-color: rgb(0, 255, 106);
    transition: width 0.3s ease-out;
}
#order-popup-wrapper .form .left-column > .images > div.active::after {
    width: 50%;
}
#order-popup-wrapper .form .right-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#order-popup-wrapper .form .right-column > div:nth-child(1) {
    font-size: var(--big-fs);
    text-align: center;
}
#order-popup-wrapper .form .right-column > div:nth-child(2) {
    font-size: var(--big-fs-s);
    text-align: center;
}
/* #order-popup-wrapper .form .right-column > div:nth-child(3) {
    font-size: var(--big-fs);
} */

#order-popup-wrapper .form .right-column > .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: var(--big-fs-s);
}
#order-popup-wrapper .form .right-column > .inputs > textarea {
    font-size: var(--big-fs-s);
    resize: vertical;
    height: 60px;
    width: 100%;
}
#order-popup-wrapper .form .right-column > .inputs > div.info {
    text-align: center;
    font-size: var(--big-fs-s);
}

@media (max-width:845px), (max-height:680px) {
    #order-popup-wrapper {
        display: block;
        --big-fs: 20px;
        --big-fs-s: 16px;
    }
    #order-popup-wrapper .close {
        display: block;
        z-index: 600;
    }
    #order-popup-wrapper .form {
        padding: 40px 10px 10px 10px;
        top: 0;
        left: 0;
        /* height: calc(100vh - 80px); */
        height: 100%;
        width: 100vw;
        transform: scale(0); 
        flex-direction: column;
        align-items: center;
    }
     #order-popup-wrapper.visible .form {
        transform: scale(1);
    } 
    #order-popup-wrapper .form .left-column {
        width: 80%;
        min-height: 400px;
    }
    #order-popup-wrapper .form .left-column .selected-image {
        /* min-height: 300px; */
        width: 100%; 
    }
    #order-popup-wrapper .form .right-column {
        /* padding-bottom: 80px; */
    }
}
@media (max-width:450px) {
    #order-popup-wrapper {
        --big-fs: 18px;
        --big-fs-s: 15px;
    }
}
#order-popup-wrapper .form .right-column button {
    position: relative;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    /* background-color: var(--theme-background); */
    background-color: transparent;
    color: var(--theme-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 10px;
    transition: var(--theme-transition);
    border-radius: 10px;
    border-color: var(--theme-background);
}
.black-theme #order-popup-wrapper .form .right-column button {
    border-color:gainsboro
}
#order-popup-wrapper .form .right-column button::after {
    content: "";
    background: var(--theme-background);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
.black-theme #order-popup-wrapper .form .right-column button::after {
    background: black;
}
#order-popup-wrapper .form .right-column button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}