.popup-click {
    display: none;
    position: fixed;
    right: 4%;
    bottom: 4%;
    z-index: 5000;
    cursor: pointer;
}
.popup-click.is-visible {
    display: block;
}
.popup-click .circle {
    background-image: url(./images/whatsapp.svg);
    background-position: center center;
    background-repeat: no-repeat;
    width: 58px;
    height: 58px;
    animation-name: rotation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(-8deg);
    }
    50% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(-8deg);
    }
}
.popup-form-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5000;
    background-color: rgba(0, 0, 0, 0.1);
}
.popup-form-wrapper.is-visible {
    display: block;
}
.popup-form {
    position: fixed;
    z-index: 5000;
    right: 4%;
    bottom: 4%;
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: transform 2s ease-out;
    transform: scale(0);
}
.popup-form-wrapper.is-visible .popup-form {
    transform: scale(1);
}
.popup-form > div:first-child {
    font-size: 32px;
}