@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,700");
.portfolio {
    font-family: "Barlow", sans-serif;
    width: 80%;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
}
.black-theme .portfolio {
    background-color: rgb(44, 44, 44);
}
.portfolio .portfolio-grids {
    padding-bottom: 40px;
}
.portfolio .portfolio-grids > div {
    display: grid;
    justify-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 20px;
}
.portfolio .grid-one {
    grid-template-columns: repeat(3, 30%);
}
.portfolio .grid-two {
    grid-template-columns: repeat(2, 45%);
}
.portfolio .grid-three {
    grid-template-columns: 95%;
}
.portfolio .grid-four {
    grid-template-columns: repeat(4, 22%);
}
.portfolio .portfolio-grids .img-container {
    position: relative;
    cursor: pointer;
    height: 500px;
    /* overflow: hidden; */
    border-radius: 35px;
    width: 100%;
}
.portfolio .portfolio-grids .img-container img {
    border-radius: 35px;
    height: 100%;
    width: 100%;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.portfolio .portfolio-grids .img-container:hover img {
    transform: scale(1.05);
}
.portfolio .portfolio-grids .img-container .img-content {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
}
.portfolio .portfolio-grids .img-container .img-content.is-visible {
    display: block;
}
.portfolio .portfolio-grids .img-container .img-content.is-visible .title {
    font-size: 20px;
}
.portfolio .portfolio-grids .img-container .img-content.is-visible .category {
    font-size: 14px;
}
.portfolio .portfolio-grids .img-content-hover {
    pointer-events: none;
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    white-space: nowrap;
}
.portfolio .portfolio-grids .img-content-hover.is-visible {
    display: block;
}
.portfolio .portfolio-grids .img-content-hover .title {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
}

.portfolio .portfolio-grids .img-content-hover .category {
    font-size: 1rem;
    color: #cecece;
}
.portfolio .grid-one img {
    object-fit: cover;
}
.portfolio .grid-two img {
    object-fit: cover;
    object-position: left;
}
.portfolio .grid-two .img-container:nth-child(1) > img {
    object-position: right;
}
.portfolio .grid-two .img-containerimg:nth-child(2) >  {
    object-position: 100px;
}
.portfolio .grid-three img {
    object-fit: cover;
    object-position: left;
}
.portfolio .grid-four img {
    object-fit: cover;
    object-position: center;
}
@media (max-width: 1150px) {
    .portfolio .grid-one {
        grid-template-columns: repeat(2, 45%);
    }
    .portfolio .grid-one .img-container:nth-child(3) {
        grid-column: span 2;
        width: auto;
    }
    .portfolio .grid-four {
        grid-template-columns: repeat(2, 45%);
    }
}
@media (max-width: 800px) {
    .portfolio {
        width: 100%;
    }
    .portfolio .grid-two .img-containerimg:nth-child(2) >  {
        object-position: center;
    }
    .portfolio .grid-two {
        grid-template-columns: 100%;
    }
    .portfolio .grid-two .img-container {
        width: auto;
    }
}
@media (max-width: 720px) {
    .portfolio .grid-one {
        grid-template-columns: 100%;
    }
    .portfolio .grid-one .img-container {
        width: auto;
    }
    .portfolio .grid-one .img-container:nth-child(3) {
        grid-column: span 1;
    }
}
@media (max-width: 550px) {
    .portfolio .grid-four {
        grid-template-columns: 100%;
    }
    .portfolio .grid-three .img-container img {
        content: url(../../../docs/images/react/portfolio/table-vertical.webp);
        object-position: 0px -100px;
    }
    .portfolio .grid-four .img-container {
        width: 100%;
    }
    .portfolio .grid-four .img-container img {
        object-fit: cover;
        object-position: center;
    }
    .portfolio .portfolio-grids .img-container .img-content {
        display: block;
    }
}
@media (max-width: 450px) {
    .portfolio .portfolio-grids .img-container {
        /* height: 300px; */
    }
    .portfolio .grid-three .img-container {
        height: 500px;
    }
    .portfolio .grid-four .img-container {
        height: 500px;
    }
}
@media (max-width: 330px) {
    .portfolio .grid-three .img-container img {
        object-position: 0px 0px;
    }
}