@import url("https://fonts.googleapis.com/css?family=Barlow:400,500,700");
.portfolio {
    font-family: "Barlow", sans-serif;
    width: 80%;
    margin: 0 auto;
    text-rendering: optimizeLegibility;
}
.black-theme .portfolio {
    background-color: rgb(44, 44, 44);
}
.portfolio .portfolio-grids {
    padding-bottom: 40px;
}
.portfolio .portfolio-grids > div {
    display: grid;
    justify-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 20px;
}
.portfolio .grid-one {
    grid-template-columns: repeat(3, 30%);
}
.portfolio .grid-two {
    grid-template-columns: repeat(2, 45%)
}
.portfolio .grid-three {
    grid-template-columns: 95%;
}
.portfolio .grid-four {
    grid-template-columns: repeat(4, 22%);
}
.portfolio .portfolio-grids .img-container {
    cursor: pointer;
    height: 500px;
    overflow: hidden;
    border-radius: 35px;
    width: 100%;
}
.portfolio .portfolio-grids .img-container img {
    border-radius: 35px;
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}
.portfolio .portfolio-grids .img-container img:hover {
    transform: scale(1.05);
}
.portfolio .portfolio-grids .img-content-hover {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.7);
    white-space: nowrap;
}
.portfolio .portfolio-grids .img-content-hover.is-visible {
    display: block;
}
.portfolio .portfolio-grids .img-content-hover .title {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
}

.portfolio .portfolio-grids .img-content-hover .category {
    font-size: 1rem;
    color: #cecece;
}
.portfolio .grid-one img {
    object-fit: cover;
}
.portfolio .grid-two img {
    object-fit: cover;
    object-position: left;
}
.portfolio .grid-two img:nth-child(2) {
    object-position: 100px;
}
.portfolio .grid-three img {
    object-fit: cover;
    object-position: left;
}
.portfolio .grid-four img {
    object-fit: cover;
    object-position: center;
}