@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Roboto+Mono&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    --theme-color: black;
    --theme-background: #6bda83;
    --theme-transition: color 0.5s linear, background-color 0.5s linear;
    transition: var(--theme-transition);
    position: relative;
    min-height: 100%;
}

body.black-theme  {
    --theme-color: white;
    --theme-background: rgb(34, 34, 34);
}

div#root {
    position: relative;
    min-height: 100vh;
}
div.app {
    position: relative;
    min-height: 100vh;
}
div.app::after{
    /* hide images */
    position: absolute;
    width:0; 
    height:0; 
    overflow:hidden; 
    z-index:-1; 
    /* load images */
    content:
    url(./pages/images/contact/3.jpg) 
    url(./pages/images/contact/5.jpg) 

    url(./pages/images/portfolio/section1-1.jpg) 
    url(./pages/images/portfolio/section1-2.jpg) 
    /* url(./pages/images/portfolio/section1-3.jpg)  */
    url(./pages/images/portfolio/section2-1.jpg) 
    url(./pages/images/portfolio/section4-1-touch.jpg) 

    url(./pages/images/catalog/moss-graphite-frame-preview.jpg) 
    /* url(./pages/images/catalog/moss-kashpo-preview.jpg)  */
    url(./pages/images/catalog/moss-white-frame-preview.jpg) 
    url(./pages/images/catalog/moss-yagel-preview.jpg) 
    url(./pages/images/catalog/moss-composition-preview.jpg) 
    url(./pages/images/catalog/black-square-with-moss-preview.jpg) 
    url(./pages/images/catalog/panno-family-preview.jpg) 
    url(./pages/images/catalog/fern-preview.jpg) 
    /* url(./pages/images/catalog/eucalyptus-baby-preview.jpg) 
    url(./pages/images/catalog/eucalyptus-stabilized-preview.jpg) 
    url(./pages/images/catalog/moss-plastovyy-preview.jpg);  */
 }

a {

}

button {

}

.moss-shop-wrapper {
    position: relative;
    min-height: 100%;
}

.black-theme {
    background-color: black;
    color: white;
}
a.black-theme {

}
button.black-theme {

}